.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
  background-color: #171717;
  height: 50px;
}

.navbar .img {
  padding-top: 15px;
  width: 100%;
  height: 225px;
}

.navbar .nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.navbar .nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
}

.navbar #but1, .navbar #but2, .navbar #but3, .navbar #but4, .navbar #but5 {
  color: gray;
  font-size: large;
  cursor: pointer;
}

.navbar .active {
  color: white !important;
}

.navbar #but1:hover, .navbar #but2:hover, .navbar #but3:hover, .navbar #but4:hover, .navbar #but5:hover {
  color: white !important;
}

.navbar .hr-line {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #FFBD59;
}

@media (max-width: 600px) {
  .navbar .nav-menu {
    display: none;
  }
}
